package views

templ Unauthorized() {
	<div style="display: flex; 
                justify-content: center; 
                align-items: center; 
                height:100%">
		<p>402, Unauthorized</p>
	</div>
	
}
