package views

templ InternalServerError() {
	<div style="display: flex; 
        justify-content: center; 
        align-items: center; 
        height:100%"
	>
		<p>Internal server error</p>
	</div>
}
